<div class="container">
  <form class="file-form">
    <div class="file-label">
      <div id="upload">
        <label for="file">
          <div class="file-upload">
            <div id="text">
              <p>Drag and drop</p>
              <p>or</p>
            </div>
            <img id="img-display" src={{url}}>
            <span class="css-btn" id="browse-btn">Browse Image</span>
          </div>
          <input id="file" type="file" (change)="getImgUrl($event)" />
        </label>
      </div>
      <div id="download">
        <div id="download-file">
          <button class="css-btn"><a href={{url}} download="encrypted-{{fileName}}"
              style="text-decoration: none; color: white;">Download</a></button>
        </div>
      </div>
      <div class="file-name">{{fileName || "No file selcted"}}</div>
      <div id="enc-key">
        <p>Encryption Key: {{enckey || "Encryption Key" }}</p>
        <button class="css-btn" id="copy-btn" (click)="copyText()">copy</button>
      </div>
    </div>
  </form>
</div>
<div id="submit-btn">
  <span class="css-btn" (click)="submitImg()">Submit</span>
</div>